<nav>
  <div class="nav-wrapper ">
  <!-- <div class="nav-wrapper valign-wrapper transparent"> -->
    <a href="#" class="brand-logo left">Logo</a>
    <a id="bookBtn" 
      class="waves-effect waves-light btn-flat btn-large white-text right btn modal-trigger"
      href="#bookModal"
      >
      Book
    </a>
    <ul id="nav-mobile" class="hide-on-med-and-down right">
      <li><a href="#">Home</a></li>
      <li><a href="#">booking list</a></li>
    </ul>
  </div>
</nav>

<div id="bookModal" class="modal"></div>