<nav>
    <div class="nav-wrapper ">
    <!-- <div class="nav-wrapper valign-wrapper transparent"> -->
      <a href="#" class="brand-logo left">Logo</a>
      <a class="waves-effect waves-light btn-flat btn-large white-text right">Large Button</a>
      <ul id="nav-mobile" class="hide-on-med-and-down right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Accommodations</a></li>
        <li><a href="#">Facilities & Amenities</a></li>
        <li><a href="#">Restaurant</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
</nav>